attached_assets/USA Luxury Limo Booking (5)_1759254607584.json
{
  "name": "USA Luxury Limo Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "de9668a5-40fa-4cae-883a-a1363c25edd0",
      "name": "Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -240
      ],
      "webhookId": "2aee4e98-cb4c-4d92-a5b2-cb14a139c162"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.body.service_type }}",
              "rightValue": "transfer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "de9e0ae0-0f60-439b-8f30-0100d3311387",
      "name": "Service Type Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -304,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "// HOUSTON GEOCODING - n8n HTTP Request Alternative\nconst inputItem = $input.first();\nconst bookingData = inputItem.json.body || inputItem.json;\n\nif (!bookingData || (!bookingData.from && !bookingData.to)) {\n  return { error: 'Missing from and/or to booking data' };\n}\n\n/**\n * Alternative HTTP request using available n8n methods\n */\nconst makeHttpRequest = async (url) => {\n  const debugInfo = {\n    url: url,\n    attempts: []\n  };\n\n  // Try different n8n HTTP methods\n  const methods = [\n    // Method 1: Try this.helpers.request if available\n    async () => {\n      if (typeof this !== 'undefined' && this.helpers && this.helpers.request) {\n        const options = {\n          method: 'GET',\n          uri: url,\n          headers: {\n            'User-Agent': 'USA-Luxury-Limo-Houston/1.0 (contact@example.com)',\n            'Accept': 'application/json'\n          },\n          json: true,\n          timeout: 10000\n        };\n        const result = await this.helpers.request(options);\n        return { success: true, data: result, method: 'n8n_helpers_request' };\n      }\n      throw new Error('this.helpers.request not available');\n    },\n\n    // Method 2: Try global request if available\n    async () => {\n      if (typeof request !== 'undefined') {\n        return new Promise((resolve) => {\n          request({\n            method: 'GET',\n            url: url,\n            headers: {\n              'User-Agent': 'USA-Luxury-Limo-Houston/1.0 (contact@example.com)',\n              'Accept': 'application/json'\n            },\n            json: true,\n            timeout: 10000\n          }, (error, response, body) => {\n            if (error) {\n              resolve({ success: false, error: error.message, method: 'global_request_error' });\n            } else if (response.statusCode !== 200) {\n              resolve({ success: false, error: `HTTP ${response.statusCode}`, method: 'global_request_http_error' });\n            } else {\n              resolve({ success: true, data: body, method: 'global_request' });\n            }\n          });\n        });\n      }\n      throw new Error('global request not available');\n    },\n\n    // Method 3: Try axios if available\n    async () => {\n      if (typeof axios !== 'undefined') {\n        const response = await axios.get(url, {\n          headers: {\n            'User-Agent': 'USA-Luxury-Limo-Houston/1.0 (contact@example.com)',\n            'Accept': 'application/json'\n          },\n          timeout: 10000\n        });\n        return { success: true, data: response.data, method: 'axios' };\n      }\n      throw new Error('axios not available');\n    },\n\n    // Method 4: Try n8n's $request if available\n    async () => {\n      if (typeof $request !== 'undefined') {\n        const result = await $request.get(url, {\n          headers: {\n            'User-Agent': 'USA-Luxury-Limo-Houston/1.0 (contact@example.com)',\n            'Accept': 'application/json'\n          }\n        });\n        return { success: true, data: result.data || result, method: 'n8n_$request' };\n      }\n      throw new Error('$request not available');\n    }\n  ];\n\n  // Try each method\n  for (let i = 0; i < methods.length; i++) {\n    try {\n      debugInfo.attempts.push({ method: i + 1, status: 'attempting' });\n      const result = await methods[i]();\n      debugInfo.attempts[i].status = 'success';\n      debugInfo.attempts[i].method = result.method;\n      return { ...result, debug: debugInfo };\n    } catch (error) {\n      debugInfo.attempts[i].status = 'failed';\n      debugInfo.attempts[i].error = error.message;\n    }\n  }\n\n  return { \n    success: false, \n    error: 'All HTTP methods failed', \n    debug: debugInfo \n  };\n};\n\n/**\n * Manual fallback geocoding with known Houston coordinates\n */\nconst fallbackGeocode = (address, type) => {\n  // Common Houston locations - this is a basic fallback\n  const houstonLocations = {\n    'north terminal road': { lat: 29.9844, lon: -95.3414, name: 'North Terminal Road area, Houston Intercontinental Airport' },\n    'terminal road': { lat: 29.9844, lon: -95.3414, name: 'Terminal Road area, Houston Intercontinental Airport' },\n    'west loop south': { lat: 29.7279, lon: -95.4632, name: 'West Loop South, Houston' },\n    'west loop': { lat: 29.7279, lon: -95.4632, name: 'West Loop area, Houston' },\n    'galleria': { lat: 29.7279, lon: -95.4632, name: 'Galleria area, Houston' },\n    'downtown houston': { lat: 29.7604, lon: -95.3698, name: 'Downtown Houston' },\n    'houston airport': { lat: 29.9844, lon: -95.3414, name: 'Houston Intercontinental Airport' },\n    'iah': { lat: 29.9844, lon: -95.3414, name: 'Houston Intercontinental Airport (IAH)' },\n    'bush airport': { lat: 29.9844, lon: -95.3414, name: 'George Bush Intercontinental Airport' }\n  };\n\n  const normalizedAddress = address.toLowerCase().trim();\n  \n  // Try to match address parts\n  for (const [key, coords] of Object.entries(houstonLocations)) {\n    if (normalizedAddress.includes(key)) {\n      return {\n        latitude: coords.lat,\n        longitude: coords.lon,\n        display_name: coords.name,\n        address: address,\n        geocoding_quality: 'fallback_matched',\n        matched_key: key\n      };\n    }\n  }\n\n  // Default Houston center if no match\n  return {\n    latitude: 29.7604,\n    longitude: -95.3698,\n    display_name: `${address} (Houston area - approximate)`,\n    address: address,\n    geocoding_quality: 'fallback_default'\n  };\n};\n\n// Main execution\nconst main = async () => {\n  const executionDebug = {\n    startTime: new Date().toISOString(),\n    environment: {\n      nodeEnvironment: typeof global !== 'undefined' ? 'Node.js' : 'Browser',\n      availableMethods: {\n        fetch: typeof fetch !== 'undefined',\n        $http: typeof $http !== 'undefined',\n        $request: typeof $request !== 'undefined',\n        thisHelpers: typeof this !== 'undefined' && this.helpers,\n        globalRequest: typeof request !== 'undefined',\n        axios: typeof axios !== 'undefined',\n        requireFunction: typeof require !== 'undefined'\n      }\n    }\n  };\n\n  // Test connectivity with simple request\n  const connectivityTest = await makeHttpRequest('https://nominatim.openstreetmap.org/search?format=json&q=houston&limit=1');\n  executionDebug.connectivityTest = connectivityTest;\n\n  let fromCoords, toCoords;\n  \n  if (connectivityTest.success) {\n    // Try API geocoding\n    try {\n      // Geocode FROM address\n      const fromUrl = `https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(bookingData.from + ', Houston, TX')}&limit=3&countrycodes=us`;\n      const fromResult = await makeHttpRequest(fromUrl);\n      \n      if (fromResult.success && fromResult.data && fromResult.data.length > 0) {\n        const best = fromResult.data[0];\n        fromCoords = {\n          latitude: parseFloat(best.lat),\n          longitude: parseFloat(best.lon),\n          display_name: best.display_name,\n          address: bookingData.from,\n          geocoding_quality: 'api_success'\n        };\n      }\n\n      // Add delay\n      await new Promise(resolve => setTimeout(resolve, 1000));\n\n      // Geocode TO address  \n      const toUrl = `https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(bookingData.to + ', Houston, TX')}&limit=3&countrycodes=us`;\n      const toResult = await makeHttpRequest(toUrl);\n      \n      if (toResult.success && toResult.data && toResult.data.length > 0) {\n        const best = toResult.data[0];\n        toCoords = {\n          latitude: parseFloat(best.lat),\n          longitude: parseFloat(best.lon),\n          display_name: best.display_name,\n          address: bookingData.to,\n          geocoding_quality: 'api_success'\n        };\n      }\n\n      executionDebug.apiAttempts = {\n        from: fromResult,\n        to: toResult\n      };\n    } catch (error) {\n      executionDebug.apiError = error.message;\n    }\n  }\n\n  // Use fallback for failed geocoding\n  if (!fromCoords) {\n    fromCoords = fallbackGeocode(bookingData.from, 'FROM');\n    executionDebug.fromUsedFallback = true;\n  }\n  \n  if (!toCoords) {\n    toCoords = fallbackGeocode(bookingData.to, 'TO');\n    executionDebug.toUsedFallback = true;\n  }\n\n  const successCount = (fromCoords.geocoding_quality !== 'fallback_default' ? 1 : 0) + \n                      (toCoords.geocoding_quality !== 'fallback_default' ? 1 : 0);\n\n  return {\n    bookingData: bookingData,\n    fromCoords: fromCoords,\n    toCoords: toCoords,\n    viaCoords: [],\n    geocodingSuccess: successCount,\n    totalAddresses: 2,\n    successRate: (successCount / 2 * 100).toFixed(1) + '%',\n    geocoding_method: connectivityTest.success ? 'api_with_fallback' : 'fallback_only',\n    timestamp: new Date().toISOString(),\n    debug: executionDebug\n  };\n};\n\n// Execute\ntry {\n  return await main();\n} catch (error) {\n  // Ultimate fallback - return known Houston coordinates\n  return {\n    bookingData: bookingData,\n    fromCoords: {\n      latitude: 29.9844,\n      longitude: -95.3414,\n      display_name: '2800, North Terminal Road (Houston Airport area - fallback)',\n      address: bookingData.from,\n      geocoding_quality: 'emergency_fallback'\n    },\n    toCoords: {\n      latitude: 29.7279,\n      longitude: -95.4632,\n      display_name: '1600, West Loop South (Houston Galleria area - fallback)',\n      address: bookingData.to,\n      geocoding_quality: 'emergency_fallback'\n    },\n    viaCoords: [],\n    geocodingSuccess: 2,\n    totalAddresses: 2,\n    successRate: '100%',\n    geocoding_method: 'emergency_fallback',\n    timestamp: new Date().toISOString(),\n    error: error.message,\n    note: 'Used emergency fallback with approximate Houston coordinates'\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -496
      ],
      "id": "8a62b1aa-f7fa-427c-b0e6-3e03e461c03e",
      "name": "HOUSTON Optimized Geocoding"
    },
    {
      "parameters": {
        "jsCode": "// HOUSTON Real Distance Calculator - Fixed Version\nconst data = $input.first().json;\n\nif (!data || !data.fromCoords || !data.toCoords) {\n  console.error('Missing coordinate data:', data);\n  return {\n    bookingData: data?.bookingData || {},\n    error: 'Missing coordinates',\n    fallback: true,\n    distance_calculation_used: 'error'\n  };\n}\n\nconst { fromCoords, toCoords, viaCoords, bookingData } = data;\n\nconsole.log('FIXED HOUSTON - Starting accurate road-based distance calculation:');\nconsole.log('FROM:', fromCoords);\nconsole.log('TO:', toCoords);\nconsole.log('VIA POINTS:', viaCoords?.length || 0);\n\n// Build coordinates array for multi-point routing\nconst coordinates = [];\n\n// Start point\ncoordinates.push([fromCoords.longitude, fromCoords.latitude]);\n\n// Via points (if any)\nif (viaCoords && Array.isArray(viaCoords)) {\n  viaCoords.forEach(via => {\n    if (via && via.longitude && via.latitude) {\n      coordinates.push([via.longitude, via.latitude]);\n    }\n  });\n}\n\n// End point\ncoordinates.push([toCoords.longitude, toCoords.latitude]);\n\nconsole.log('Route coordinates:', coordinates);\n\n// Enhanced HTTP request function with better error handling\nconst makeRequest = async (url, options = {}) => {\n  try {\n    const requestOptions = {\n      url: url,\n      method: options.method || 'GET',\n      headers: {\n        'User-Agent': 'Houston-Limo-Service/2.0',\n        'Accept': 'application/json',\n        ...options.headers\n      },\n      timeout: 20000, // Increased timeout\n      json: options.json !== false\n    };\n\n    if (options.body) {\n      requestOptions.body = options.body;\n    }\n\n    // Try different request methods available in n8n\n    if (typeof $request !== 'undefined') {\n      return await $request(requestOptions);\n    } else if (typeof $http !== 'undefined') {\n      return await $http.request({\n        url: requestOptions.url,\n        method: requestOptions.method,\n        headers: requestOptions.headers,\n        data: requestOptions.body,\n        timeout: requestOptions.timeout\n      });\n    } else if (this.helpers && this.helpers.request) {\n      return await this.helpers.request({\n        uri: requestOptions.url,\n        method: requestOptions.method,\n        headers: requestOptions.headers,\n        body: requestOptions.body,\n        json: requestOptions.json,\n        timeout: requestOptions.timeout\n      });\n    } else {\n      throw new Error('No HTTP request method available');\n    }\n  } catch (error) {\n    console.error(`Request to ${url} failed:`, error.message);\n    throw error;\n  }\n};\n\n// Function to calculate using OSRM with real-world adjustments\nconst calculateOSRM = async () => {\n  try {\n    const coordString = coordinates.map(coord => `${coord[0]},${coord[1]}`).join(';');\n    const url = `https://router.project-osrm.org/route/v1/driving/${coordString}?overview=false&alternatives=true&steps=false&geometries=polyline&annotations=false`;\n\n    console.log('Using OSRM for road routing with real-world adjustments...');\n    \n    const result = await makeRequest(url);\n\n    if (result && result.routes && result.routes.length > 0) {\n      const route = result.routes[0];\n      const distanceMeters = route.distance;\n      const durationSeconds = route.duration;\n      \n      // Convert to miles\n      let distanceMiles = distanceMeters * 0.000621371;\n      \n      // Apply real-world correction based on known discrepancies\n      // Navigation apps account for factors OSRM doesn't always capture\n      const realWorldFactor = calculateRealWorldFactor(fromCoords, toCoords, distanceMiles);\n      const adjustedDistanceMiles = distanceMiles * realWorldFactor;\n      const adjustedDurationMinutes = Math.round((durationSeconds * realWorldFactor) / 60);\n\n      console.log(`OSRM with real-world adjustment - Original: ${distanceMiles.toFixed(2)} miles, Adjusted: ${adjustedDistanceMiles.toFixed(2)} miles (factor: ${realWorldFactor}), Duration: ${adjustedDurationMinutes} minutes`);\n\n      return {\n        success: true,\n        distance_miles: parseFloat(adjustedDistanceMiles.toFixed(2)),\n        duration_minutes: adjustedDurationMinutes,\n        distance_meters: Math.round(adjustedDistanceMiles * 1609.34),\n        duration_seconds: adjustedDurationMinutes * 60,\n        api_used: 'osrm_adjusted',\n        route_type: 'real_world_adjusted_routing',\n        accuracy: 'high',\n        original_distance_miles: parseFloat(distanceMiles.toFixed(2)),\n        adjustment_factor: realWorldFactor\n      };\n    } else {\n      throw new Error('No routes found in OSRM response');\n    }\n  } catch (error) {\n    console.error('OSRM calculation failed:', error.message);\n    throw error;\n  }\n};\n\n// Function to calculate using GraphHopper with real-world adjustments\nconst calculateGraphHopper = async () => {\n  try {\n    const points = coordinates.map(coord => `point=${coord[1]},${coord[0]}`).join('&');\n    const url = `https://graphhopper.com/api/1/route?${points}&vehicle=car&weighting=fastest&calc_points=false&instructions=false&locale=en`;\n\n    console.log('Using GraphHopper for road routing with adjustments...');\n    \n    const result = await makeRequest(url);\n\n    if (result && result.paths && result.paths.length > 0) {\n      const path = result.paths[0];\n      const distanceMeters = path.distance;\n      const durationMs = path.time;\n\n      // Convert to miles\n      let distanceMiles = distanceMeters * 0.000621371;\n      \n      // Apply real-world correction\n      const realWorldFactor = calculateRealWorldFactor(fromCoords, toCoords, distanceMiles);\n      const adjustedDistanceMiles = distanceMiles * realWorldFactor;\n      const adjustedDurationMinutes = Math.round((durationMs * realWorldFactor) / 60000);\n\n      console.log(`GraphHopper with real-world adjustment - Original: ${distanceMiles.toFixed(2)} miles, Adjusted: ${adjustedDistanceMiles.toFixed(2)} miles (factor: ${realWorldFactor}), Duration: ${adjustedDurationMinutes} minutes`);\n\n      return {\n        success: true,\n        distance_miles: parseFloat(adjustedDistanceMiles.toFixed(2)),\n        duration_minutes: adjustedDurationMinutes,\n        distance_meters: Math.round(adjustedDistanceMiles * 1609.34),\n        duration_seconds: Math.round((durationMs * realWorldFactor) / 1000),\n        api_used: 'graphhopper_adjusted',\n        route_type: 'real_world_adjusted_routing',\n        accuracy: 'high',\n        original_distance_miles: parseFloat(distanceMiles.toFixed(2)),\n        adjustment_factor: realWorldFactor\n      };\n    } else {\n      throw new Error('No paths found in GraphHopper response');\n    }\n  } catch (error) {\n    console.error('GraphHopper calculation failed:', error.message);\n    throw error;\n  }\n};\n\n// Function to calculate using HERE Maps API (Alternative)\nconst calculateHERE = async () => {\n  try {\n    // Note: You'll need a HERE API key for production use\n    const waypoints = coordinates.map(coord => `${coord[1]},${coord[0]}`).join('!');\n    const url = `https://route.ls.hereapi.com/routing/7.2/calculateroute.json?waypoint0=${coordinates[0][1]},${coordinates[0][0]}&waypoint1=${coordinates[coordinates.length-1][1]},${coordinates[coordinates.length-1][0]}&mode=fastest;car;traffic:disabled&representation=overview`;\n\n    console.log('Attempting HERE Maps routing...');\n    \n    // This will fail without API key, but structure is here for reference\n    throw new Error('HERE API key required');\n    \n  } catch (error) {\n    console.error('HERE calculation failed:', error.message);\n    throw error;\n  }\n};\n\n// Function to calculate real-world adjustment factors based on known route patterns\nconst calculateRealWorldFactor = (fromCoords, toCoords, baseDistance) => {\n  // Check for known Houston route patterns\n  const isIAH = fromCoords.display_name?.toLowerCase().includes('bush') || \n               fromCoords.display_name?.toLowerCase().includes('intercontinental') ||\n               fromCoords.address?.toLowerCase().includes('bush');\n               \n  const isPostOak = toCoords.display_name?.toLowerCase().includes('post oak') ||\n                   toCoords.address?.toLowerCase().includes('post oak') ||\n                   toCoords.display_name?.toLowerCase().includes('uptown');\n                   \n  const isGalleria = toCoords.display_name?.toLowerCase().includes('galleria') ||\n                    toCoords.address?.toLowerCase().includes('galleria');\n\n  // Known IAH to specific Houston destinations\n  if (isIAH && (isPostOak || isGalleria)) {\n    // IAH to Post Oak/Galleria area typically underestimated by routing APIs\n    // Real world: 25+ miles vs API estimate of ~22 miles\n    if (baseDistance >= 20 && baseDistance <= 24) {\n      console.log('Detected IAH to Post Oak/Galleria route - applying 1.17x factor');\n      return 1.17; // Brings 21.7 miles to ~25.4 miles\n    }\n  }\n  \n  // General Houston area adjustments based on distance ranges\n  if (baseDistance < 3) {\n    // Urban core - navigation apps route around traffic/construction\n    return 1.15;\n  } else if (baseDistance >= 3 && baseDistance < 8) {\n    // Suburban routes - more complex routing needed\n    return 1.12;\n  } else if (baseDistance >= 8 && baseDistance < 20) {\n    // Mixed highway/surface street routes\n    return 1.10;\n  } else if (baseDistance >= 20 && baseDistance < 30) {\n    // Airport routes and longer suburban trips\n    return 1.15;\n  } else {\n    // Long distance routes\n    return 1.08;\n  }\n};\n\n// Enhanced fallback with real-world factors\nconst calculateImprovedFallback = () => {\n  console.log('Using improved fallback calculation with real-world factors...');\n\n  // Haversine formula for accurate straight-line distance\n  const calculateDistance = (lat1, lon1, lat2, lon2) => {\n    const R = 3959; // Earth's radius in miles\n    const dLat = (lat2 - lat1) * Math.PI / 180;\n    const dLon = (lon2 - lon1) * Math.PI / 180;\n    const a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n              Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n              Math.sin(dLon/2) * Math.sin(dLon/2);\n    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n    return R * c;\n  };\n\n  let totalStraightDistance = 0;\n  let currentLat = fromCoords.latitude;\n  let currentLon = fromCoords.longitude;\n\n  // Calculate through all points\n  if (viaCoords && viaCoords.length > 0) {\n    viaCoords.forEach(via => {\n      const segmentDistance = calculateDistance(currentLat, currentLon, via.latitude, via.longitude);\n      totalStraightDistance += segmentDistance;\n      currentLat = via.latitude;\n      currentLon = via.longitude;\n    });\n  }\n\n  const finalDistance = calculateDistance(currentLat, currentLon, toCoords.latitude, toCoords.longitude);\n  totalStraightDistance += finalDistance;\n\n  // Base road factors for straight-line to road distance conversion\n  let baseRoadFactor;\n  let speedFactor; // minutes per mile\n\n  if (totalStraightDistance < 2) {\n    baseRoadFactor = 1.4;\n    speedFactor = 3.5;\n  } else if (totalStraightDistance < 5) {\n    baseRoadFactor = 1.3;\n    speedFactor = 2.5;\n  } else if (totalStraightDistance < 15) {\n    baseRoadFactor = 1.25;\n    speedFactor = 2.0;\n  } else if (totalStraightDistance < 50) {\n    baseRoadFactor = 1.2;\n    speedFactor = 1.5;\n  } else {\n    baseRoadFactor = 1.15;\n    speedFactor = 1.2;\n  }\n\n  const baseRoadDistance = totalStraightDistance * baseRoadFactor;\n  \n  // Apply real-world adjustment to the base calculation\n  const realWorldFactor = calculateRealWorldFactor(fromCoords, toCoords, baseRoadDistance);\n  const finalRoadDistance = baseRoadDistance * realWorldFactor;\n  const estimatedDurationMinutes = Math.round(finalRoadDistance * speedFactor);\n\n  console.log(`Enhanced fallback - Straight: ${totalStraightDistance.toFixed(2)} mi, Base road: ${baseRoadDistance.toFixed(2)} mi, Real-world adjusted: ${finalRoadDistance.toFixed(2)} mi (factor: ${realWorldFactor}), Duration: ${estimatedDurationMinutes} min`);\n\n  return {\n    success: true,\n    distance_miles: parseFloat(finalRoadDistance.toFixed(2)),\n    duration_minutes: estimatedDurationMinutes,\n    distance_meters: Math.round(finalRoadDistance * 1609.34),\n    duration_seconds: estimatedDurationMinutes * 60,\n    api_used: 'enhanced_fallback',\n    route_type: 'real_world_estimated',\n    straight_line_distance: parseFloat(totalStraightDistance.toFixed(2)),\n    base_road_factor: baseRoadFactor,\n    real_world_factor: realWorldFactor,\n    accuracy: 'medium'\n  };\n};\n\n// Try APIs in order with better error handling\nlet distanceResult = null;\nconst apiAttempts = [];\n\n// Primary: OSRM (most reliable and accurate)\ntry {\n  console.log('Attempting OSRM (primary)...');\n  distanceResult = await calculateOSRM();\n  apiAttempts.push({api: 'osrm', status: 'success', timestamp: new Date().toISOString()});\n} catch (error1) {\n  apiAttempts.push({api: 'osrm', status: 'failed', error: error1.message, timestamp: new Date().toISOString()});\n  \n  // Secondary: GraphHopper\n  try {\n    console.log('OSRM failed, trying GraphHopper...');\n    distanceResult = await calculateGraphHopper();\n    apiAttempts.push({api: 'graphhopper', status: 'success', timestamp: new Date().toISOString()});\n  } catch (error2) {\n    apiAttempts.push({api: 'graphhopper', status: 'failed', error: error2.message, timestamp: new Date().toISOString()});\n    \n    // Fallback: Improved calculation\n    console.log('All routing APIs failed, using improved fallback calculation...');\n    distanceResult = calculateImprovedFallback();\n    apiAttempts.push({api: 'improved_fallback', status: 'success', timestamp: new Date().toISOString()});\n  }\n}\n\n// Build final response with better structure\nconst finalResult = {\n  bookingData: bookingData,\n  coordinates: {\n    from: fromCoords,\n    to: toCoords,\n    via: viaCoords || [],\n    total_points: coordinates.length\n  },\n  distance_calculation: {\n    ...distanceResult,\n    calculation_timestamp: new Date().toISOString(),\n    calculation_version: 'v2.0_fixed'\n  },\n  api_attempts: apiAttempts,\n  routing_info: {\n    type: 'real_road_based',\n    correction_applied: false,\n    note: 'Using actual routing APIs for real road distances'\n  }\n};\n\nconsole.log('DISTANCE CALCULATION COMPLETED:', {\n  api_used: distanceResult.api_used,\n  distance_miles: distanceResult.distance_miles,\n  duration_minutes: distanceResult.duration_minutes,\n  accuracy: distanceResult.accuracy,\n  route_type: distanceResult.route_type\n});\n\nreturn finalResult;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -496
      ],
      "id": "af72cc96-9fc4-4837-819a-bd54b569a272",
      "name": "HOUSTON Distance Calculator"
    },
    {
      "parameters": {
        "jsCode": "// HOUSTON OPTIMIZED Pricing Calculator - GUARANTEED ARRAY RETURN\ntry {\n  const data = $input.first().json;\n  const bookingData = data.bookingData;\n\n  if (!bookingData) {\n    return [{ error: 'Missing booking data' }];\n  }\n\n  // Extract REAL distance and duration from Houston optimized calculation\n  let distanceInMiles = 0;\n  let durationInMinutes = 0;\n  let calculationMethod = 'no_calculation';\n  let apiUsed = 'none';\n  let distanceCalculationError = false;\n\n  // FIXED: Use the correct property name from input data\n  if (data.distance_calculation && data.distance_calculation.success) {\n    const calc = data.distance_calculation;\n    distanceInMiles = calc.distance_miles || 0;\n    durationInMinutes = calc.duration_minutes || 0;\n    calculationMethod = calc.route_type || 'api_calculated';\n    apiUsed = calc.api_used || 'osrm_adjusted';\n\n    console.log(`HOUSTON OPTIMIZED - Using REAL distance data from ${apiUsed}: ${distanceInMiles.toFixed(2)} miles, ${durationInMinutes} minutes`);\n  } \n  // FALLBACK: Also check for realDistanceCalculation for backward compatibility\n  else if (data.realDistanceCalculation && data.realDistanceCalculation.success) {\n    const calc = data.realDistanceCalculation;\n    distanceInMiles = calc.distance_miles || calc.total_distance_miles || 0;\n    durationInMinutes = calc.duration_minutes || calc.total_duration_minutes || 0;\n    calculationMethod = calc.route_type || 'api_calculated';\n    apiUsed = calc.api_used || 'openrouteservice';\n\n    console.log(`HOUSTON OPTIMIZED - Using REAL distance data from ${apiUsed}: ${distanceInMiles.toFixed(2)} miles, ${durationInMinutes} minutes`);\n  } else {\n    // Mark as error but continue with emergency calculation\n    distanceCalculationError = true;\n    console.error('CRITICAL: No real distance calculation available - using emergency estimation');\n    \n    // Emergency distance estimation based on coordinates if available\n    if (data.coordinates && data.coordinates.from && data.coordinates.to) {\n      // Simple straight-line distance calculation as emergency fallback\n      const fromCoords = data.coordinates.from;\n      const toCoords = data.coordinates.to;\n      \n      const lat1 = fromCoords.latitude;\n      const lon1 = fromCoords.longitude;\n      const lat2 = toCoords.latitude;\n      const lon2 = toCoords.longitude;\n      \n      // Haversine formula for straight-line distance\n      const R = 3959; // Earth's radius in miles\n      const dLat = (lat2 - lat1) * Math.PI / 180;\n      const dLon = (lon2 - lon1) * Math.PI / 180;\n      const a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n                Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n                Math.sin(dLon/2) * Math.sin(dLon/2);\n      const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n      const straightLineDistance = R * c;\n      \n      // Apply road factor for Houston (roads are not straight lines)\n      distanceInMiles = straightLineDistance * 1.35; // 35% increase for actual road distance\n      durationInMinutes = Math.round(distanceInMiles * 2.5); // Estimate: 2.5 minutes per mile in Houston\n      calculationMethod = 'emergency_coordinate_estimation';\n      apiUsed = 'emergency_haversine';\n      \n      console.log(`Emergency calculation: ${straightLineDistance.toFixed(2)} straight-line -> ${distanceInMiles.toFixed(2)} road miles`);\n    } \n    // Legacy coordinate format support\n    else if (data.coordinates && Array.isArray(data.coordinates) && data.coordinates.length >= 2) {\n      // Simple straight-line distance calculation as emergency fallback\n      const coords = data.coordinates;\n      let totalDistance = 0;\n      \n      for (let i = 0; i < coords.length - 1; i++) {\n        const lat1 = coords[i].lat;\n        const lon1 = coords[i].lng;\n        const lat2 = coords[i + 1].lat;\n        const lon2 = coords[i + 1].lng;\n        \n        // Haversine formula for straight-line distance\n        const R = 3959; // Earth's radius in miles\n        const dLat = (lat2 - lat1) * Math.PI / 180;\n        const dLon = (lon2 - lon1) * Math.PI / 180;\n        const a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n                  Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n                  Math.sin(dLon/2) * Math.sin(dLon/2);\n        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n        const distance = R * c;\n        \n        totalDistance += distance;\n      }\n      \n      // Apply road factor for Houston (roads are not straight lines)\n      distanceInMiles = totalDistance * 1.35; // 35% increase for actual road distance\n      durationInMinutes = Math.round(distanceInMiles * 2.5); // Estimate: 2.5 minutes per mile in Houston\n      calculationMethod = 'emergency_coordinate_estimation';\n      apiUsed = 'emergency_haversine';\n      \n      console.log(`Emergency calculation: ${totalDistance.toFixed(2)} straight-line -> ${distanceInMiles.toFixed(2)} road miles`);\n    } else {\n      // Last resort: Houston city average\n      distanceInMiles = 8; // More realistic Houston average\n      durationInMinutes = 20;\n      calculationMethod = 'houston_city_average';\n      apiUsed = 'emergency_fallback';\n    }\n  }\n\n  // REMOVE minimum distance adjustment - use actual calculated distance\n  // Only apply minimum if distance is unrealistically small (less than 0.1 miles)\n  if (distanceInMiles < 0.1) {\n    console.log(`Distance too small (${distanceInMiles}), adjusting to 0.1 mile minimum`);\n    distanceInMiles = 0.1;\n  }\n\n  // Apply minimum duration for Houston traffic conditions\n  if (durationInMinutes < 5) {\n    durationInMinutes = 5; // Minimum 5 minutes for any Houston trip\n    console.log('Duration adjusted to minimum 5 minutes for Houston traffic');\n  }\n\n  // Enhanced Vehicle configurations with accurate pricing\n  const vehicles = [\n    {\n      type: 'business_sedan',\n      name: 'Business Sedan',\n      passengers: 3,\n      luggage: '2 large',\n      category: 'Business Sedan',\n      baseRate: 113.49,\n      minimum: 113.49\n    },\n    {\n      type: 'business_suv',\n      name: 'Business SUV',\n      passengers: 6,\n      luggage: '4 large', \n      category: 'Business SUV',\n      baseRate: 141.63,\n      minimum: 141.63\n    },\n    {\n      type: 'first_class_sedan',\n      name: 'First-Class Sedan',\n      passengers: 3,\n      luggage: '3 large',\n      category: 'First-Class Sedan',\n      baseRate: 727.49,\n      minimum: 727.49\n    },\n    {\n      type: 'first_class_suv',\n      name: 'First-Class SUV',\n      passengers: 6,\n      luggage: '6 large',\n      category: 'First-Class SUV',\n      baseRate: 169.77,\n      minimum: 169.77\n    },\n    {\n      type: 'business_van',\n      name: 'Business VAN',\n      passengers: 8,\n      luggage: '8 large',\n      category: 'Business VAN',\n      baseRate: 749.89,\n      minimum: 749.89\n    }\n  ];\n\n  // HOUSTON SPECIFIC location-based surcharge calculation\n  const getHoustonSurcharge = (from, to, viaPoints = []) => {\n    const allLocations = ((from || '') + ' ' + (to || '') + ' ' + (viaPoints.join(' ') || '')).toLowerCase();\n    let surcharge = 0;\n\n    // Houston Airport surcharges\n    if (allLocations.includes('iah') || allLocations.includes('bush intercontinental') || allLocations.includes('george bush')) surcharge += 0;\n    if (allLocations.includes('hobby') || allLocations.includes('william p hobby')) surcharge += 0;\n    if (allLocations.includes('airport')) surcharge += 0;\n\n    // Houston specific areas\n    if (allLocations.includes('downtown houston') || allLocations.includes('downtown')) surcharge += 0;\n    if (allLocations.includes('galleria') || allLocations.includes('uptown')) surcharge += 0;\n    if (allLocations.includes('medical center') || allLocations.includes('tmc')) surcharge += 8;\n    if (allLocations.includes('energy corridor')) surcharge += 0;\n    if (allLocations.includes('katy') || allLocations.includes('sugar land') || allLocations.includes('the woodlands')) surcharge += 0;\n\n    // Houston venues\n    if (allLocations.includes('nrg stadium') || allLocations.includes('minute maid park') || allLocations.includes('toyota center')) surcharge += 60;\n    if (allLocations.includes('convention center') || allLocations.includes('george r brown')) surcharge += 0;\n\n    // Houston hotels\n    if (allLocations.includes('hotel') || allLocations.includes('marriott') || allLocations.includes('hilton') || allLocations.includes('hyatt')) surcharge += 0;\n\n    // Via point surcharge\n    if (viaPoints.length > 0) {\n      surcharge += viaPoints.length * 8; // $8 per additional stop in Houston\n    }\n\n    return surcharge;\n  };\n\n  // CORRECT HOUSTON TIERED PRICING with leftover miles calculation\n  const calculateHoustonTieredPrice = (miles, baseRate, minimumRate) => {\n    let totalPrice = baseRate;\n    \n    console.log(`Calculating tiered price for ${miles.toFixed(2)} miles, base rate: ${baseRate}`);\n    \n    // Define pricing tiers with tier ranges (not cumulative)\n    const pricingTiers = [\n      { range: 20, rate: 0 },        // First 20 miles @ $0\n      { range: 4.45, rate: 0.92 },   // Next 4.45 miles (20-24.45) @ $0.92\n      { range: 1.41, rate: 2.4 },    // Next 1.41 miles (24.45-25.86) @ $2.4\n      { range: 5.2, rate: 2.35 },    // Next 5.2 miles (25.86-31.06) @ $2.35\n      { range: 6.22, rate: 2.3 },    // Next 6.22 miles (31.06-37.28) @ $2.3\n      { range: 6.23, rate: 2.25 },   // Next 6.23 miles (37.28-43.51) @ $2.25\n      { range: 6.2, rate: 2.3 },     // Next 6.2 miles (43.51-49.71) @ $2.3\n      { range: 6.21, rate: 2.05 },   // Next 6.21 miles (49.71-55.92) @ $2.05\n      { range: 6.22, rate: 2.08 },   // Next 6.22 miles (55.92-62.14) @ $2.08\n      { range: 6.21, rate: 2.15 },   // Next 6.21 miles (62.14-68.35) @ $2.15\n      { range: 6.22, rate: 2.25 },   // Next 6.22 miles (68.35-74.57) @ $2.25\n      { range: 18.64, rate: 2.35 },  // Next 18.64 miles (74.57-93.21) @ $2.35\n      { range: 31.06, rate: 2.45 },  // Next 31.06 miles (93.21-124.27) @ $2.45\n      { range: Infinity, rate: 3.75 } // Remaining miles (124.27+) @ $3.75\n    ];\n    \n    let leftoverMiles = miles;\n    let currentTierStart = 0;\n    \n    for (let i = 0; i < pricingTiers.length && leftoverMiles > 0; i++) {\n      const tier = pricingTiers[i];\n      \n      // Calculate miles to process in this tier\n      const milesInThisTier = Math.min(leftoverMiles, tier.range);\n      \n      if (milesInThisTier > 0) {\n        const tierCost = milesInThisTier * tier.rate;\n        totalPrice += tierCost;\n        \n        const tierEnd = currentTierStart + milesInThisTier;\n        console.log(`Miles ${currentTierStart.toFixed(2)}-${tierEnd.toFixed(2)}: ${milesInThisTier.toFixed(2)} miles at ${tier.rate}/mile = ${tierCost.toFixed(2)}`);\n        \n        leftoverMiles -= milesInThisTier;\n        currentTierStart += tier.range;\n      }\n    }\n    \n    // Apply minimum price rule\n    const finalPrice = Math.max(totalPrice, minimumRate);\n    \n    if (totalPrice < minimumRate) {\n      console.log(`Calculated price ${totalPrice.toFixed(2)} is less than minimum ${minimumRate}, using minimum price`);\n    }\n    \n    console.log(`Final price: ${finalPrice.toFixed(2)}, Leftover miles after calculation: ${leftoverMiles.toFixed(2)}`);\n    return finalPrice;\n  };\n\n  // Calculate final pricing based on ACTUAL HOUSTON distance\n  const viaPointsArray = bookingData.via_points || [];\n  const surcharge = getHoustonSurcharge(bookingData.from, bookingData.to, viaPointsArray);\n\n  const vehiclePrices = vehicles.map(vehicle => {\n    let price = calculateHoustonTieredPrice(distanceInMiles, vehicle.baseRate, vehicle.minimum);\n    price += surcharge;\n\n    return {\n      type: vehicle.type,\n      name: vehicle.name,\n      price: '$' + price.toFixed(2),\n      passengers: vehicle.passengers,\n      luggage: vehicle.luggage,\n      category: vehicle.category\n    };\n  });\n\n  // Format datetime\n  let formattedDatetime = 'Not specified';\n  if (bookingData.datetime) {\n    formattedDatetime = bookingData.datetime;\n  } else if (bookingData.date && bookingData.time) {\n    formattedDatetime = bookingData.date + 'T' + bookingData.time + ':00Z';\n  }\n\n  // Build HOUSTON OPTIMIZED response with ACCURATE distance info\n  const response = {\n    success: true,\n    data: {\n      service_type: 'transfer',\n      from: bookingData.from || 'Not specified',\n      to: bookingData.to || 'Not specified',\n      via_points: viaPointsArray,\n      datetime: formattedDatetime,\n      total_distance: Math.round(distanceInMiles * 100) / 100 + ' mi',\n      total_duration: durationInMinutes + ' mins',\n      route_type: 'houston_optimized_accurate',\n      vehicles: vehiclePrices,\n      booking_id: 'HOU' + Date.now(),\n      houston_distance_info: {\n        distance_miles: Math.round(distanceInMiles * 100) / 100,\n        duration_minutes: durationInMinutes,\n        calculation_method: calculationMethod,\n        api_used: apiUsed,\n        surcharge_applied: surcharge,\n        via_points_count: viaPointsArray.length,\n        calculation_timestamp: data.calculation_timestamp || (data.distance_calculation ? data.distance_calculation.calculation_timestamp : new Date().toISOString()),\n        coordinates_processed: data.coordinates ? (data.coordinates.total_points || 2) : 2,\n        houston_optimized: true,\n        distance_calculation_error: distanceCalculationError,\n        actual_distance_used: true\n      }\n    }\n  };\n\n  console.log('HOUSTON OPTIMIZED PRICING completed successfully');\n\n  // CRITICAL: Always return an array\n  return [response];\n\n} catch (error) {\n  console.error('Critical error in pricing calculation:', error.message);\n  // Always return an array, even on error\n  return [{\n    success: false,\n    error: error.message,\n    data: {\n      service_type: 'transfer',\n      vehicles: [],\n      houston_distance_info: {\n        error: true,\n        error_message: error.message\n      }\n    }\n  }];\n}"
      },
      "id": "5c6c6ccf-1ce5-4e0e-bf55-c41e9760feb7",
      "name": "HOUSTON Pricing Calculator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Hourly Pricing Calculator\nconst bookingData = $input.first().json.body || $input.first().json;\n\n// Enhanced hourly rates with proper minimums\nconst hourlyRates = {\n  'business_sedan': { name: 'Business Sedan', rate: 91.96, passengers: 3, luggage: '2 large', minHours: 2 },\n  'business_suv': { name: 'Business SUV', rate: 110.26, passengers: 6, luggage: '4 large', minHours: 2 },\n  'first_class_sedan': { name: 'First-Class Sedan', rate: 170.56, passengers: 3, luggage: '2 large', minHours: 5 },\n  'first_class_suv': { name: 'First-Class SUV', rate: 120.56, passengers: 6, luggage: '5 large', minHours: 2 },\n  'business_van': { name: 'Business VAN', rate: 175, passengers: 10, luggage: '8 large', minHours: 5 }\n};\n\nconst requestedDuration = parseInt(bookingData.duration) || 2;\n\nconst vehicles = Object.keys(hourlyRates).map(key => {\n  const config = hourlyRates[key];\n  const actualDuration = Math.max(requestedDuration, config.minHours);\n  const totalPrice = actualDuration * config.rate;\n\n  return {\n    type: key,\n    name: config.name,\n    price: '$' + totalPrice.toFixed(2),\n    hourly_rate: config.rate,\n    passengers: config.passengers,\n    luggage: config.luggage,\n    category: 'Hourly service',\n    duration: actualDuration,\n    minimum_hours: config.minHours\n  };\n});\n\n// Format datetime\nlet formattedDatetime = 'Not specified';\nif (bookingData.datetime) {\n  formattedDatetime = bookingData.datetime;\n} else if (bookingData.date && bookingData.time) {\n  formattedDatetime = bookingData.date + 'T' + bookingData.time + ':00Z';\n}\n\nconst response = {\n  success: true,\n  data: {\n    service_type: 'hourly',\n    pickup_address: bookingData.pickup_address || 'Not specified',\n    requested_duration: requestedDuration,\n    datetime: formattedDatetime,\n    vehicles: vehicles,\n    minimum_price: parseFloat(Math.min(...vehicles.map(v => parseFloat(v.price.replace('$', '')))).toFixed(2)),\n    booking_id: 'HOU_H' + Date.now()\n  }\n};\n\nreturn response;"
      },
      "id": "97eb56ae-c5c9-41ff-abab-f39dfeb14a93",
      "name": "Enhanced Hourly Pricing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        16
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        16
      ],
      "id": "ac0c4e07-dc16-450e-b26d-596e2fb6d58d",
      "name": "Respond to Webhook Hourly"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        320,
        -272
      ],
      "id": "a1b4e7c3-9b5b-43e8-9f2c-e256a156e099",
      "name": "Respond to Webhook Transfer"
    },
    {
      "parameters": {
        "jsCode": "// HOUSTON Real Distance Calculator - Fixed Version for n8n Webhook Data\nconst webhookData = $input.first().json;\n\n// Extract data from the webhook structure\nconst body = webhookData?.body;\n\nif (!body || !body.coordinates) {\n  console.error('Missing webhook body or coordinates:', webhookData);\n  return {\n    bookingData: body || {},\n    error: 'Missing coordinates in webhook data',\n    fallback: true,\n    distance_calculation_used: 'error'\n  };\n}\n\n// Extract coordinates from the webhook body\nconst fromCoords = body.coordinates.from;\nconst toCoords = body.coordinates.to;\nconst viaCoords = body.coordinates.via_points || [];\nconst bookingData = {\n  service_type: body.service_type,\n  from: body.from,\n  to: body.to,\n  date: body.date,\n  time: body.time,\n  datetime: body.datetime,\n  via_points: body.via_points || []\n};\n\nif (!fromCoords || !toCoords) {\n  console.error('Missing coordinate data:', { fromCoords, toCoords });\n  return {\n    bookingData: bookingData,\n    error: 'Missing coordinates',\n    fallback: true,\n    distance_calculation_used: 'error'\n  };\n}\n\nconsole.log('FIXED HOUSTON - Starting accurate road-based distance calculation:');\nconsole.log('FROM:', fromCoords);\nconsole.log('TO:', toCoords);\nconsole.log('VIA POINTS:', viaCoords?.length || 0);\n\n// Build coordinates array for multi-point routing\nconst coordinates = [];\n\n// Start point\ncoordinates.push([fromCoords.longitude, fromCoords.latitude]);\n\n// Via points (if any)\nif (viaCoords && Array.isArray(viaCoords)) {\n  viaCoords.forEach(via => {\n    if (via && via.longitude && via.latitude) {\n      coordinates.push([via.longitude, via.latitude]);\n    }\n  });\n}\n\n// End point\ncoordinates.push([toCoords.longitude, toCoords.latitude]);\n\nconsole.log('Route coordinates:', coordinates);\n\n// Enhanced HTTP request function with better error handling\nconst makeRequest = async (url, options = {}) => {\n  try {\n    const requestOptions = {\n      url: url,\n      method: options.method || 'GET',\n      headers: {\n        'User-Agent': 'Houston-Limo-Service/2.0',\n        'Accept': 'application/json',\n        ...options.headers\n      },\n      timeout: 20000, // Increased timeout\n      json: options.json !== false\n    };\n\n    if (options.body) {\n      requestOptions.body = options.body;\n    }\n\n    // Try different request methods available in n8n\n    if (typeof $request !== 'undefined') {\n      return await $request(requestOptions);\n    } else if (typeof $http !== 'undefined') {\n      return await $http.request({\n        url: requestOptions.url,\n        method: requestOptions.method,\n        headers: requestOptions.headers,\n        data: requestOptions.body,\n        timeout: requestOptions.timeout\n      });\n    } else if (this.helpers && this.helpers.request) {\n      return await this.helpers.request({\n        uri: requestOptions.url,\n        method: requestOptions.method,\n        headers: requestOptions.headers,\n        body: requestOptions.body,\n        json: requestOptions.json,\n        timeout: requestOptions.timeout\n      });\n    } else {\n      throw new Error('No HTTP request method available');\n    }\n  } catch (error) {\n    console.error(`Request to ${url} failed:`, error.message);\n    throw error;\n  }\n};\n\n// Function to calculate using OSRM with real-world adjustments\nconst calculateOSRM = async () => {\n  try {\n    const coordString = coordinates.map(coord => `${coord[0]},${coord[1]}`).join(';');\n    const url = `https://router.project-osrm.org/route/v1/driving/${coordString}?overview=false&alternatives=true&steps=false&geometries=polyline&annotations=false`;\n\n    console.log('Using OSRM for road routing with real-world adjustments...');\n    \n    const result = await makeRequest(url);\n\n    if (result && result.routes && result.routes.length > 0) {\n      const route = result.routes[0];\n      const distanceMeters = route.distance;\n      const durationSeconds = route.duration;\n      \n      // Convert to miles\n      let distanceMiles = distanceMeters * 0.000621371;\n      \n      // Apply real-world correction based on known discrepancies\n      // Navigation apps account for factors OSRM doesn't always capture\n      const realWorldFactor = calculateRealWorldFactor(fromCoords, toCoords, distanceMiles);\n      const adjustedDistanceMiles = distanceMiles * realWorldFactor;\n      const adjustedDurationMinutes = Math.round((durationSeconds * realWorldFactor) / 60);\n\n      console.log(`OSRM with real-world adjustment - Original: ${distanceMiles.toFixed(2)} miles, Adjusted: ${adjustedDistanceMiles.toFixed(2)} miles (factor: ${realWorldFactor}), Duration: ${adjustedDurationMinutes} minutes`);\n\n      return {\n        success: true,\n        distance_miles: parseFloat(adjustedDistanceMiles.toFixed(2)),\n        duration_minutes: adjustedDurationMinutes,\n        distance_meters: Math.round(adjustedDistanceMiles * 1609.34),\n        duration_seconds: adjustedDurationMinutes * 60,\n        api_used: 'osrm_adjusted',\n        route_type: 'real_world_adjusted_routing',\n        accuracy: 'high',\n        original_distance_miles: parseFloat(distanceMiles.toFixed(2)),\n        adjustment_factor: realWorldFactor\n      };\n    } else {\n      throw new Error('No routes found in OSRM response');\n    }\n  } catch (error) {\n    console.error('OSRM calculation failed:', error.message);\n    throw error;\n  }\n};\n\n// Function to calculate using GraphHopper with real-world adjustments\nconst calculateGraphHopper = async () => {\n  try {\n    const points = coordinates.map(coord => `point=${coord[1]},${coord[0]}`).join('&');\n    const url = `https://graphhopper.com/api/1/route?${points}&vehicle=car&weighting=fastest&calc_points=false&instructions=false&locale=en`;\n\n    console.log('Using GraphHopper for road routing with adjustments...');\n    \n    const result = await makeRequest(url);\n\n    if (result && result.paths && result.paths.length > 0) {\n      const path = result.paths[0];\n      const distanceMeters = path.distance;\n      const durationMs = path.time;\n\n      // Convert to miles\n      let distanceMiles = distanceMeters * 0.000621371;\n      \n      // Apply real-world correction\n      const realWorldFactor = calculateRealWorldFactor(fromCoords, toCoords, distanceMiles);\n      const adjustedDistanceMiles = distanceMiles * realWorldFactor;\n      const adjustedDurationMinutes = Math.round((durationMs * realWorldFactor) / 60000);\n\n      console.log(`GraphHopper with real-world adjustment - Original: ${distanceMiles.toFixed(2)} miles, Adjusted: ${adjustedDistanceMiles.toFixed(2)} miles (factor: ${realWorldFactor}), Duration: ${adjustedDurationMinutes} minutes`);\n\n      return {\n        success: true,\n        distance_miles: parseFloat(adjustedDistanceMiles.toFixed(2)),\n        duration_minutes: adjustedDurationMinutes,\n        distance_meters: Math.round(adjustedDistanceMiles * 1609.34),\n        duration_seconds: Math.round((durationMs * realWorldFactor) / 1000),\n        api_used: 'graphhopper_adjusted',\n        route_type: 'real_world_adjusted_routing',\n        accuracy: 'high',\n        original_distance_miles: parseFloat(distanceMiles.toFixed(2)),\n        adjustment_factor: realWorldFactor\n      };\n    } else {\n      throw new Error('No paths found in GraphHopper response');\n    }\n  } catch (error) {\n    console.error('GraphHopper calculation failed:', error.message);\n    throw error;\n  }\n};\n\n// Function to calculate real-world adjustment factors based on known route patterns\nconst calculateRealWorldFactor = (fromCoords, toCoords, baseDistance) => {\n  // Check for known Houston route patterns\n  const isIAH = fromCoords.address?.toLowerCase().includes('bush') || \n               fromCoords.address?.toLowerCase().includes('intercontinental') ||\n               fromCoords.address?.toLowerCase().includes('airport');\n               \n  const isPostOak = toCoords.address?.toLowerCase().includes('post oak') ||\n                   toCoords.address?.toLowerCase().includes('uptown');\n                   \n  const isGalleria = toCoords.address?.toLowerCase().includes('galleria');\n\n  const isWoodlands = toCoords.address?.toLowerCase().includes('woodlands') ||\n                     toCoords.address?.toLowerCase().includes('spring');\n\n  // Known IAH to specific Houston destinations\n  if (isIAH && (isPostOak || isGalleria)) {\n    // IAH to Post Oak/Galleria area typically underestimated by routing APIs\n    // Real world: 25+ miles vs API estimate of ~22 miles\n    if (baseDistance >= 20 && baseDistance <= 24) {\n      console.log('Detected IAH to Post Oak/Galleria route - applying 1.17x factor');\n      return 1.17; // Brings 21.7 miles to ~25.4 miles\n    }\n  }\n\n  // IAH to Woodlands/Spring area\n  if (isIAH && isWoodlands) {\n    if (baseDistance >= 25 && baseDistance <= 35) {\n      console.log('Detected IAH to Woodlands/Spring route - applying 1.12x factor');\n      return 1.12;\n    }\n  }\n  \n  // General Houston area adjustments based on distance ranges\n  if (baseDistance < 3) {\n    // Urban core - navigation apps route around traffic/construction\n    return 1.15;\n  } else if (baseDistance >= 3 && baseDistance < 8) {\n    // Suburban routes - more complex routing needed\n    return 1.12;\n  } else if (baseDistance >= 8 && baseDistance < 20) {\n    // Mixed highway/surface street routes\n    return 1.10;\n  } else if (baseDistance >= 20 && baseDistance < 30) {\n    // Airport routes and longer suburban trips\n    return 1.15;\n  } else {\n    // Long distance routes\n    return 1.08;\n  }\n};\n\n// Enhanced fallback with real-world factors\nconst calculateImprovedFallback = () => {\n  console.log('Using improved fallback calculation with real-world factors...');\n\n  // Haversine formula for accurate straight-line distance\n  const calculateDistance = (lat1, lon1, lat2, lon2) => {\n    const R = 3959; // Earth's radius in miles\n    const dLat = (lat2 - lat1) * Math.PI / 180;\n    const dLon = (lon2 - lon1) * Math.PI / 180;\n    const a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n              Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n              Math.sin(dLon/2) * Math.sin(dLon/2);\n    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n    return R * c;\n  };\n\n  let totalStraightDistance = 0;\n  let currentLat = fromCoords.latitude;\n  let currentLon = fromCoords.longitude;\n\n  // Calculate through all points\n  if (viaCoords && viaCoords.length > 0) {\n    viaCoords.forEach(via => {\n      const segmentDistance = calculateDistance(currentLat, currentLon, via.latitude, via.longitude);\n      totalStraightDistance += segmentDistance;\n      currentLat = via.latitude;\n      currentLon = via.longitude;\n    });\n  }\n\n  const finalDistance = calculateDistance(currentLat, currentLon, toCoords.latitude, toCoords.longitude);\n  totalStraightDistance += finalDistance;\n\n  // Base road factors for straight-line to road distance conversion\n  let baseRoadFactor;\n  let speedFactor; // minutes per mile\n\n  if (totalStraightDistance < 2) {\n    baseRoadFactor = 1.4;\n    speedFactor = 3.5;\n  } else if (totalStraightDistance < 5) {\n    baseRoadFactor = 1.3;\n    speedFactor = 2.5;\n  } else if (totalStraightDistance < 15) {\n    baseRoadFactor = 1.25;\n    speedFactor = 2.0;\n  } else if (totalStraightDistance < 50) {\n    baseRoadFactor = 1.2;\n    speedFactor = 1.5;\n  } else {\n    baseRoadFactor = 1.15;\n    speedFactor = 1.2;\n  }\n\n  const baseRoadDistance = totalStraightDistance * baseRoadFactor;\n  \n  // Apply real-world adjustment to the base calculation\n  const realWorldFactor = calculateRealWorldFactor(fromCoords, toCoords, baseRoadDistance);\n  const finalRoadDistance = baseRoadDistance * realWorldFactor;\n  const estimatedDurationMinutes = Math.round(finalRoadDistance * speedFactor);\n\n  console.log(`Enhanced fallback - Straight: ${totalStraightDistance.toFixed(2)} mi, Base road: ${baseRoadDistance.toFixed(2)} mi, Real-world adjusted: ${finalRoadDistance.toFixed(2)} mi (factor: ${realWorldFactor}), Duration: ${estimatedDurationMinutes} min`);\n\n  return {\n    success: true,\n    distance_miles: parseFloat(finalRoadDistance.toFixed(2)),\n    duration_minutes: estimatedDurationMinutes,\n    distance_meters: Math.round(finalRoadDistance * 1609.34),\n    duration_seconds: estimatedDurationMinutes * 60,\n    api_used: 'enhanced_fallback',\n    route_type: 'real_world_estimated',\n    straight_line_distance: parseFloat(totalStraightDistance.toFixed(2)),\n    base_road_factor: baseRoadFactor,\n    real_world_factor: realWorldFactor,\n    accuracy: 'medium'\n  };\n};\n\n// Try APIs in order with better error handling\nlet distanceResult = null;\nconst apiAttempts = [];\n\n// Primary: OSRM (most reliable and accurate)\ntry {\n  console.log('Attempting OSRM (primary)...');\n  distanceResult = await calculateOSRM();\n  apiAttempts.push({api: 'osrm', status: 'success', timestamp: new Date().toISOString()});\n} catch (error1) {\n  apiAttempts.push({api: 'osrm', status: 'failed', error: error1.message, timestamp: new Date().toISOString()});\n  \n  // Secondary: GraphHopper\n  try {\n    console.log('OSRM failed, trying GraphHopper...');\n    distanceResult = await calculateGraphHopper();\n    apiAttempts.push({api: 'graphhopper', status: 'success', timestamp: new Date().toISOString()});\n  } catch (error2) {\n    apiAttempts.push({api: 'graphhopper', status: 'failed', error: error2.message, timestamp: new Date().toISOString()});\n    \n    // Fallback: Improved calculation\n    console.log('All routing APIs failed, using improved fallback calculation...');\n    distanceResult = calculateImprovedFallback();\n    apiAttempts.push({api: 'improved_fallback', status: 'success', timestamp: new Date().toISOString()});\n  }\n}\n\n// Build final response with better structure\nconst finalResult = {\n  bookingData: bookingData,\n  webhook_info: {\n    execution_mode: webhookData.executionMode,\n    webhook_url: webhookData.webhookUrl,\n    headers: webhookData.headers\n  },\n  coordinates: {\n    from: fromCoords,\n    to: toCoords,\n    via: viaCoords || [],\n    total_points: coordinates.length\n  },\n  geocoding_data: {\n    from: body.geocoding?.from,\n    to: body.geocoding?.to\n  },\n  distance_calculation: {\n    ...distanceResult,\n    calculation_timestamp: new Date().toISOString(),\n    calculation_version: 'v2.0_fixed_webhook'\n  },\n  api_attempts: apiAttempts,\n  routing_info: {\n    type: 'real_road_based',\n    correction_applied: true,\n    note: 'Using actual routing APIs for real road distances with Houston-specific adjustments'\n  }\n};\n\nconsole.log('DISTANCE CALCULATION COMPLETED:', {\n  from: bookingData.from,\n  to: bookingData.to,\n  api_used: distanceResult.api_used,\n  distance_miles: distanceResult.distance_miles,\n  duration_minutes: distanceResult.duration_minutes,\n  accuracy: distanceResult.accuracy,\n  route_type: distanceResult.route_type\n});\n\nreturn finalResult;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -272
      ],
      "id": "f18d0343-8531-4059-a14a-9a8ce893ddbf",
      "name": "HOUSTON Distance Calculator1"
    }
  ],
  "pinData": {},
  "connections": {
    "Booking Webhook": {
      "main": [
        [
          {
            "node": "Service Type Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Type Check": {
      "main": [
        [
          {
            "node": "HOUSTON Distance Calculator1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enhanced Hourly Pricing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOUSTON Optimized Geocoding": {
      "main": [
        [
          {
            "node": "HOUSTON Distance Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOUSTON Distance Calculator": {
      "main": [
        []
      ]
    },
    "HOUSTON Pricing Calculator": {
      "main": [
        [
          {
            "node": "Respond to Webhook Transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Hourly Pricing": {
      "main": [
        [
          {
            "node": "Respond to Webhook Hourly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOUSTON Distance Calculator1": {
      "main": [
        [
          {
            "node": "HOUSTON Pricing Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4dc2b40a-96c1-44f9-b9fb-1f1498b74bc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d00086e4196cbcc3cbfacc87453ac03d183408a7c9588d9ba25aba1c9604565"
  },
  "id": "0L04n5eDAgF1wtZp",
  "tags": []
}